@model List<EmployeeViewModel>
@{
    Layout = "_AdminLayout";
}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h3>Сотрудники</h3>
</div>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Удалить</th>
        <th>Изменить</th>
    </tr>
    @foreach (var C in Model)
    {
        <tr>
            <td>@C.ID</td>
            <td>@C.Login</td>
            <td>@C.Email</td>
            <td>@C.Role.RoleName</td>
            <td>
                <form method="post" asp-controller="Admin" asp-action="EmployeeDelete" onclick="return confirm('Вы действително хотите удалить сотрудника @C.Login?!')">
                    <input type="hidden" name="ID" value="@C.ID" />
                    <input type="submit" value="Удалить">
                </form>
            </td>
            <td>@Html.ActionLink("Изменить", "EmployeeEdit", "Admin", new { ID = C.ID })</td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "EmployeeAdd", "Admin")