@model List<RoomViewModel>
@{
    Layout = "_AdminLayout";
}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h3>Номера</h3>
</div>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Категория</th>
        <th>Удалить</th>
        <th>Изменить</th>
    </tr>
    @foreach (var C in Model)
    {
        <tr>
            <td>@C.ID</td>
            <td>@C.Category.Title</td>           
            <td>
                <form method="post" asp-controller="Admin" asp-action="RoomDelete" onclick="return confirm('Вы действително хотите удалить номер @C.ID?!')">
                    <input type="hidden" name="ID" value="@C.ID" />
                    <input type="submit" value="Удалить">
                </form>
            </td>
            <td>@Html.ActionLink("Изменить", "RoomEdit", "Admin", new { ID = C.ID })</td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "RoomAdd", "Admin")